/* COMMON */
html {
  font-size: 100%;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  list-style-position: inside;
  margin-bottom: 0;
  padding-left: 0;
}

.btn {
  background-color: #1abd9d;
}
/* HEADER */
header {
  background-color: #2c3e51;
  color: white;
  /* height: 90px; */
}
.navbar-brand {
  color: white;
}
nav .navbar-toggler {
  color: white;
  border: 1px solid white;
}

nav .nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  color: white;
}

/* CLASSIC NAV 
.main-tlt {
  font-size: 1.5rem;
  font-weight: bold;
}
.hamburger-menu {
  border: 1px solid white;
  border-radius: 10px;
}
.hamburger-menu i {
  font-size: 2rem;
  color: grey;
}
.desktop-menu {
  flex-grow: 0.2;
  font-size: 1rem;
  margin-bottom: 0;
} */
/* JUMBOTRON */
#jumbotron {
  background-color: #1abd9d;
}
.avatar {
  width: 10em;
}
.features {
  width: 80%;
}

.star {
  position: relative;
  width: 5em;
  margin: 0 auto;
}
.star i {
  font-size: 2rem;
}

.star::before {
  content: "";
  display: block;
  position: absolute;
  left: -5em;
  width: 100px;
  bottom: 40%;

  border-bottom: 4px solid #fff;
}
.star::after {
  content: "";
  display: block;
  position: absolute;
  right: -5em;
  width: 100px;
  bottom: 40%;

  border-bottom: 4px solid #fff;
}
.star-black {
  width: 5em;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.star-black i {
  color: #2c3e51;
  font-size: 2rem;
}

.star-black::before {
  content: "";
  display: block;
  position: absolute;
  left: -5em;
  width: 100px;
  bottom: 40%;
  z-index: 999;
  border-bottom: 4px solid #2c3e51;
}
.star-black::after {
  content: "";
  display: block;
  position: absolute;
  right: -5em;
  width: 100px;
  bottom: 40%;
  z-index: 999;
  border-bottom: 4px solid #2c3e51;
}

/* SECTION - PORTFOLIO */
#portfolio img {
  border-radius: 20px;
}
/* SECTION - ABOUT */
#about {
  background-color: #1abd9d;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
}
.download {
  margin: 0 auto;
  text-align: center;
  padding: 0.2em 1em;
  border-radius: 5px;
}
.download .btn {
  border: 1px solid white;
  display: inline-block;
  color: white;
}
/* SECTION - CONTACT */
#contact form input {
  appearance: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  box-shadow: none;
}
#contact form input[type="number"] {
  border-bottom: 0;
}
#contact form textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
}

/* FOOTER */
.upper-footer {
  background-color: #3a546d;
}
.upper-footer h4 {
  font-size: 1.2rem;
}
.upper-footer p {
  font-size: 0.8rem;
}
.around-icons {
  width: 40%;
  margin: 0 auto;
}
.around-icons i {
  font-size: 0.8rem;
  vertical-align: middle;
  line-height: 2rem;
}
.around-icons li {
  border: 1px solid white;
  width: 2em;
  height: 2em;

  border-radius: 50%;
  line-height: normal;
}
#start {
  color: #1abd9d;
}

.lower-footer {
  background-color: #2c3e51;
}
.lower-footer p {
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  /* FOOTER */
  .around-icons {
    width: 70%;
    margin: 0 auto;
  }
}
